.forgot-page {
  background:
    linear-gradient(rgba(15, 31, 68, 0.20), rgba(15, 31, 68, 0.20)),
    url('/assets/images/fondo.png') center/cover no-repeat;
}

/* Estilos adicionales si es necesario */
.btn-personalizado {
  background-color: #0c2f5a;
  color: #ffff;
  border-color: #0c2f5a;
}


.btn-personalizado:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.link-personalizado {
  color: #0c2f5a;
}

.link-personalizado:hover {
  color: #0056b3;
}