<mat-nav-list class="w-100 h-100 d-flex flex-column border-end">
  <div class="d-flex flex-column align-items-center text-center p-4 border-bottom">
    <div class="d-flex align-items-center justify-content-center">
      @if (photoUrl) {
        <img class="rounded-circle border" width="48" height="48" [src]="photoUrl" alt="Foto de perfil" />
      } @else {
        <mat-icon style="font-size: 48px; width: 48px; height: 48px;">account_circle</mat-icon>
      }
    </div>
    <div class="mt-2">
      <div class="fw-semibold text-truncate" style="max-width: 200px;">{{ displayName }}</div>
      @if (cargoName || puestoName) {
        <span class="small badge badge-pill bg-color text-truncate d-inline-block text-wrap text-break" style="max-width: 200px;">{{ cargoName || puestoName }}</span>
      }
    </div>
  </div>

  @for (item of menuItems; track item.path) {
    <a mat-list-item [routerLink]="item.path" routerLinkActive="active" class="text-decoration-none">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  }
</mat-nav-list>
