<mat-toolbar>
  <span class="fw-bold">SEGURIDAD FÍSICA</span>

  <span class="spacer"></span>

  @if (username) {
    <span class="username">{{ username }}</span>
  }

  <button
    type="button"
    class="theme-toggle-btn"
    mat-icon-button
    (click)="toggleTheme()"
    [attr.aria-label]="isLightMode ? 'Activar modo nocturno' : 'Activar modo claro'">
    <i [class]="isLightMode ? 'bi bi-sun-fill' : 'bi bi-moon-stars-fill'"></i>
  </button>

  <!-- Botón con menú -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    aria-label="Menú de usuario">
    <mat-icon>account_circle</mat-icon>
  </button>

  <!-- Menú -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon color="warn">logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
