
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}


form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  color: #333;
}

input,
select {
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

input[readonly] {
  background-color: #e9ecef;
}

h3 {
  grid-column: span 4;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #444;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3rem;
}

@media (max-width: 1200px) {
  form {
    grid-template-columns: repeat(2, 1fr); /* se adapta a 2 columnas en pantallas pequeñas */
  }
}

@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr; /* 1 columna en móviles */
  }
}


.form-wrapper {
  overflow-x: auto;
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.grid-form {
 display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}




.form-column {
  flex: 1 1 250px;
  min-width: 250px;
  max-width: 320px;
}

.form-column h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

.btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 6px 14px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content; 
  display: inline-block; 
  margin: 10px auto 0; 
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #06172c;
}

.horario-wrapper {
  max-width: 100%;
  overflow-x: auto; /* permite hacer scroll si se pasa del ancho */
}


