<div class="container-fluid px-0">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="m-0">Gestión de Instalaciones</h2>
    <div class="d-flex gap-2">
      <button class="btn btn-outline-primary" (click)="abrirModal()">
        <i class="bi bi-plus-circle"></i> Nueva Instalación
      </button>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-center gap-2 pt-2 mb-3">
      <input class="form-control" style="width: 70%; "
          placeholder="Buscar por cualquier campo"
          [(ngModel)]="filtroTexto"
          (ngModelChange)="cargarInstalaciones()">
    <button class="btn btn-outline-secondary" (click)="limpiarFiltros()">Limpiar</button>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="table-light">
            <tr class="text-center align-middle">
              <th>Nominativo</th>
              <th>Cliente</th>
              <th>Nombre de la Instalación</th>
              <th>Provincia</th>
              <th>Ciudad o Cantón</th>
              <th>Dirección</th>
              <th class="text-center"  style="width: 80px;">Zonas</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center align-middle" *ngFor="let instalacion of instalaciones">
              <td>{{ instalacion.codigo || '-' }}</td>
              <td>{{ getNombreCliente(instalacion.cliente_id) }}</td>
              <td>{{ instalacion.nombre || '-' }}</td>
              <td>{{ instalacion.provincia_nombre || '-' }}</td>
              <td>{{ instalacion.canton_nombre || '-' }}</td>
              <td>{{ instalacion.direccion || '-' }}</td>
              <td>
                <ng-container *ngIf="instalacion.zonas?.length; else sinZonas">
                  <div *ngFor="let z of instalacion.zonas">
                    {{ z.titulo || '-' }}
                  </div>
                </ng-container>
                <ng-template #sinZonas>-</ng-template>
              </td>
              <td class="align-middle">
                <div class="d-flex justify-content-center gap-2">
                  <button class="btn btn-sm btn-outline-primary" (click)="abrirModal(instalacion)">
                    <i class="bi bi-pencil"></i> Editar
                  </button>
                  <button class="btn btn-sm btn-outline-danger" (click)="confirmarEliminar(instalacion)">
                    <i class="bi bi-trash"></i> Eliminar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div *ngIf="instalaciones.length === 0" class="text-center text-muted py-4">
          <p>No hay instalaciones registradas</p>
        </div>
      </div>
    </div>
  </div>
</div>


