<h2 mat-dialog-title>{{ cliente.id ? 'Editar' : 'Nuevo' }} Cliente</h2>

<mat-dialog-content>
  <form [formGroup]="clienteForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>RUC</mat-label>
      <input type="text" matInput formControlName="ruc" placeholder="RUC (10 o 13 dígitos)">
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Razón Social</mat-label>
      <input type="text" matInput formControlName="razon_social">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre Comercial</mat-label>
      <input type="text" matInput formControlName="nombre_comercial">
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="clienteForm.invalid">Guardar</button>
</mat-dialog-actions>