# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static

# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env
.env.local
.env.*

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

*
!.gitignore
!README.md