# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environments
venv/
ENV/
env/

# VS Code
.vscode/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
