asgiref==3.8.1
attrs==26.1.0
charset-normalizer==3.4.2
Django==5.2.1
django-cors-headers==4.3.0
djangorestframework==3.15.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.28.0
et-xmlfile==1.1.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
openpyxl==3.1.5
pillow==11.3.0
psycopg==3.2.9
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.1.0
PyYAML==6.0.3
referencing==0.37.0
reportlab==4.4.3
rpds-py==0.30.0
sqlparse==0.4.4
tzdata==2025.1
uritemplate==4.2.0
whitenoise==6.12.0
