<div class="container-fluid p-4">
  
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="m-0">Gestión de Clientes</h2>
    <div class="d-flex gap-2">
      <input type="file" #fileInput class="d-none" accept=".xlsx" (change)="onFileSelected($event)">
      <button class="btn btn-outline-secondary" (click)="fileInput.click()">
        <i class="bi bi-upload"></i> Importar Excel
      </button>
      <button class="btn btn-primary" (click)="openDialog()">
      <i class="bi bi-plus-circle"></i> Nuevo Cliente
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-center gap-2 pt-2 mb-3 sticky-top">
    <input class="form-control"
          placeholder="Buscar por RUC, Razón Social o Nombre Comercial"
          [(ngModel)]="filtroTexto"
           style="max-width: 60%;">
    <select class="form-select"
            [(ngModel)]="filtroSize"
             style="max-width: 20%;">
      <option value="">Tamaño del Cliente</option>
      <option value="PEQUENO">Pequeño</option>
      <option value="MEDIANO">Mediano</option>
      <option value="GRANDE">Grande</option>
      <option value="OFICINA">Oficina</option>
    </select>
    <button class="btn btn-outline-secondary" (click)="limpiarFiltros()">Limpiar</button>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
          <thead class="table-light">
            <tr>
              <!--<th>RUC</th>-->
              <th>Razón Social</th>
              <th>Nombre Comercial</th>
              <th>Clasificación</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center " *ngFor="let c of clientesFiltrados">
              <!--<td>{{ c.ruc || '-' }}</td>-->
              <td>{{ c.razon_social }}</td>
              <td>{{ c.nombre_comercial }}</td>
              <td>{{ sizeLabels[c.size || 'PEQUENO'] }}</td>
              <td class="d-flex justify-content-around">
                <button class="btn btn-sm btn-outline-primary me-2" (click)="openDialog(c)">
                  <i class="bi bi-pencil"></i> Editar
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="confirmarEliminar(c)">
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div *ngIf="clientes.length === 0" class="text-center text-muted py-4">
          <p>No hay clientes registrados</p>
        </div>
      </div>
    </div>
  </div>
</div>


